body {
    height:100%;
    margin:0;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(../style/img/background-css.jpg);
    
}

nav {
    width: 100%;
    line-height: 20px;
    background-color: black;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    margin: 2.5%;
    display: inline;
}

nav a {
    display: inline-block;
    position: center;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.1s;
}

a:hover {
    color:
        #00060a;
    background: white;
    border-radius: 3px;
    
    box-shadow: 0 0 10px,
        0 0 40px,
        0 0 80px;
}

.hero-image {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../style/img/hero-img.jpg");
    margin-top:0;

    height: 25em;
    width: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h1    {
    color: white;
    font-size: 54px;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
}



h2 {
    color: white;
    font-size: 46px;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
}

p {
    color: whitesmoke;
    font-size: 23px;
}

.section1 {

    text-align:center;
    margin-left:20px;
    margin-right:20px;
}

.section2 {

    text-align:center;
    margin-left:20px;
    margin-right:20px;
}

#storyswipe {
    font-weight: bold;
    color: whitesmoke;
}

#storyswipe:hover {
    color: #00060a;
}

.button {
    background:none;
    color:white;
    overflow:hidden;
    border-width: 0;
    border-style:none;

}




button > a {
    color:white;
}

footer {
    background-color: black;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: fixed;
    margin-bottom:0;
}

.hero-image2 {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../style/img/hero-img-2.jpg");

    height: 25em;
    width: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.story1 {
    margin-left: 25px;
    margin-right: 25px;
}

.story2 {
    margin-left: 25px;
    margin-right: 25px;
}

.story3 {
    margin-left: 25px;
    margin-right: 25px;
}

.story4 {
    margin-left: 25px;
    margin-right: 25px;
}

.hero-image3 {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../style/img/hero-img3.jpg");

    height: 25em;
    width: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text3 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.story {
    margin: 80px auto;
}