body {
    height:100%;
    margin:0;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(../style/img/background-css.jpg);

}

nav {
    width: 100%;
    line-height: 20px;
    background-color: black;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    margin: 2.5%;
    display: inline;
}

nav a {
    display: inline-block;
    position: center;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.1s;
}

a:hover {
    color:
        #00060a;
    background: white;
    border-radius: 3px;
    
    box-shadow: 0 0 10px,
        0 0 40px,
        0 0 80px;
}