body {
    height:100%;
   
    margin:0;
    padding: 0;
    background-color: black;
    font-family: Merriweather, Helvetica, Palatino;
    font-weight: 600;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/css_background1.jpg);
    
}

/* The header element is the ground for our nav bar and all the options there. Everything is set to 0 just to make sure the
Nav bar covers the entire page and dont disturb the other elements. */

header {

    padding: 0;
    margin: 0;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
}

/* The page wrap class was created as a trouble shoot for our footer. Just a safety procedure to make sure it functions properly and is placed
after the text content, and not on it */

.page-wrap {
    min-height: 100%;
    margin-bottom: -80px;
}

.page-wrap:after {
    display: block;
}

nav {
    width: 100%;
    line-height: 20px;
    background-color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav li {
    margin: 2.5%;
    display: inline;
}

/* This is what we will use to give our nav targets a nice white color whith a black background. The hover element is to
give our buttons some life with the help of background color shift. This is to give it a "light" effect.
This method was creating using youtube: https://www.youtube.com/watch?v=ex7jGbyFgpA as a guideline. */

nav a {
    display: inline-block;
    
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.1s;
}

a:hover {
    color:
        #00060a;
    background: white;
    border-radius: 3px;
    
    box-shadow: 0 0 10px,
        0 0 40px,
        0 0 80px;
}

/* The hero image class, this, 2 and 3 are our main source of life on our pages. Same goes for the hero text.
Using the linearGradient value gives the image a dark foggy effect, to make sure are text is nicely visible */

.hero-image {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-img.jpg");
    margin-top:0;

    height: 25em;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h1    {
    color: white;
    font-size: 54px;
    
    text-decoration-color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



h2 {
    color: white;
    font-size: 46px;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

p {
    color: whitesmoke;
    font-size: 23px;
}

a {
color: whitesmoke;
    font-size: 23px;
    text-decoration: underline;
}

.welcome-text {

    padding:40px;
    text-decoration: underline;
    text-decoration-color: white;
}


.section1 {

    text-align:left;
    align-items: center;
    padding: 40px;

    
    
    
}

.section2 {

    text-align:left;
    align-items: center;
    padding:40px;
   
}

/* The storyswide id was created to make the user be able to quickly jump to the story page directly from the intro text.
But to be able to blend in with the rest of the text, we need to style is the same way as our nav element.
But since it is weitten as a A-element, the underline decoration is already there, to give the user a 
heads up that this is a clickable button. */

#storyswipe {
    font-weight: bold;
    color: whitesmoke;
}

#storyswipe:hover {
    color: #00060a;
}

.button {
    background:none;
    color:white;
    overflow:hidden;
    border-width: 0;
    border-style:none;

}

/* This is where we gather all the text content as well as all image content on the work experience page, for 
easier modification */

.work-text {

    padding: 40px;
    text-align: left;
    align-items: center;
}

/* All the styling for the images on the work-experience page */

.concrete-truck {

    width: 55%;
    height: 20%; 
}

.material-truck {
    width: 55%;
    height: 20%; 
}

.crane-truck {
    width: 55%;
    height: 20%; 
}

.safe-mount {
    width: 55%;
    height: 20%; 
}

.seller {
    width: 35%;
    height: 20%;
}

/* The styling for the clickable button appearing on all the hero images */

button > a {
    color:white;
}

/* The styling and correction for the footers */

.footer-index {

    background-color: black;
    position: absolute;
    margin-bottom: -340px;
}

.my_work_footer {

    position: sticky;
    margin-top: 20px;
    margin-bottom: -200px;
    background-color: black;
    height: 50px;

}

.info-footer {

    position: static;
    margin-top: 150px;
    margin-bottom:-20px;
    background-color: black;
    height: 50px;
}

.footer_text {

    color: white;
    text-align: center;
    margin-top: 0px;
    
}
.hero-image2 {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-img-2.jpg");

    height: 25em;
    margin-top: -4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

img .car-image {

    margin-left: 0;
    
    width: 80%;
   
}


.hero-image3 {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-img3.jpg");

    height: 25em;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text3 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}







 .story2 {

    margin: 80px auto;
    padding: 40px;
    text-align: left;
    align-items: center;
}

.story3 {

    margin: 80px auto;
    padding: 40px;
    text-align: left;
    align-items: center;
}

.story4 {

    margin: 80px auto;
    padding: 40px;
    text-align: left;
    align-items: center;

}
.work {
    
    color: white;
    font-size: 45px;
    letter-spacing: 4px;
    margin-left:auto;
    margin-right:auto;


}

/* This is the styling for the form on the contact page, with a border-radius set to 20px, to give 
the inputs some nice smooth corners */

input[type=text],
select,
textarea {
    width: 60%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 20px;
    
    resize: horizontal;

}

/* The styling for the submit button */

input[type=submit] {
    position:static;
    background-color: black;
    color: lightgray;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;

}


input[type=submit]:hover {

    color: black;
    background: white;
    border-radius: 10px;
    transition-delay: 0.2s;
    box-shadow: 0 0 10px,
        0 0 40px,
        0 0 80px;

}

.container {
    border-radius: 5px;
    padding: 20px;
}

.contactimg {
    padding: 40px;
    width: 30%;
    float: right;
    
}
  
/* To make sure the website stays responsive, no matter what device, we set the media quary at a max width 
1235px, just to make sure the site stays beautiful, no matter what device the user is operating */

  @media screen and (max-width: 1235px) {

    .intro-img {

        width: 70%;
    }

    header {
        margin-bottom: -4px;
    }
   
   
    nav {
      
        background-color: black
      
      }
      
    ul { 

       padding: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
       background-color: black;
    }

    a {
        color:white;
        text-decoration: none;
    }

    .concrete-truck {

        width: 70%;
    }

    .material-truck {

        width: 70%;
    }

    .crane-truck {

        width: 70%;
    }

    .safe-mount {
        width: 70%;
    }

    .seller {
        width: 70%;
    }

    .car-image {
        
        width: 70%;
        padding: 40px;
        
    }

    a {
        color: whitesmoke;
            font-size: 23px;
            text-decoration: underline;
        }

    

    .footer-index {

        
        position: sticky;
        margin-bottom: -650px;
    }

    .info-footer {

        background-color: black;
        position: sticky;
        margin-bottom:0;
    }



    .contactimg {

        float:none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 40px;
        

    }

    input[type=text],
select,
textarea {
    width: 100%;
    padding: 40px;
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 20px;
    resize: horizontal;
}
  }

/* If the user is using a phone, the site still needs it beauty, so we add some more changes in case the width 
comes below 570px */

@media screen and (max-width: 570px) {

    .intro-img {
        width: 80%;
    }

    .hero-image {

        margin-top: -5px;
    }

    .heroh1 {

        font-size: 2.5em;
    }

    .herop1 {

        font-size: 1.5em;
    }

    body {
        width: 100%;
    }

    header {

        width: 100%;
        margin-bottom: -4px;
        
    }

    .car-image {

        width: 80%;
     }

     .concrete-truck {

        width: 80%;
     }

     .material-truck {

        width: 80%;
    }

    .crane-truck {

        width: 80%;
    }

    .safe-mount {
        width: 80%;
    }

    .seller {
        width: 80%;
    }

    .footer-index {

        background-color: black;
        position: sticky;
        margin-bottom: -1200px;
    }
}

